{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'main/css.css' %}">
</head>
<body>
    <div class="container">
        <div class="left-side">
            {% include 'main/left.html' %}
        </div>
        <div class="right-side" style="padding-left: 20px; padding-right: 20px;">
            {% include 'main/right.html' with cnt_time=cnt_time %}
            <div id='container-add-btn' class="hidden-add-task">
                <form>
                    <input style="padding: 10px 20px; border: none; border-radius: 20px;" placeholder="Task">
                    <button class="final-add-btn">Add!</button>
                </form>
            </div>
        </div>
    </div>
    <script src="{% static 'main/index.js' %}"></script>
</body>
</html>