{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'main/css.css' %}">
</head>
<body>
    <div class="container">
        <div class="left-side">
            {% include 'main/left.html' %}
        </div>
        <div class="right-side" style="padding-left: 20px; padding-right: 20px;">
            {% include 'main/right.html' with cnt_time=cnt_time %}
            <div id='container-add-btn' class="hidden-add-task">
                <form method="post" id="container-add-btn form">
                    {% csrf_token %}
                    <input name='task_input' style="padding: 10px 20px; border: none; border-radius: 20px;" placeholder="Task">
                    <button id="final-add-btn">Add!</button>
                </form>
            </div>
            <div id="container-of-todos">
            
            {% for todo in all_todos %}
                    <div>
                <input type="checkbox" data-id="{{ todo.id }}" {% if todo.completed %}checked{% endif %}>
                <label style="color: white; font-family: 'Courier New', Courier, monospace; font-size: 20px;">{{ todo }}</label>
               
                    </div>
                  
                {% endfor %}
            
        </div>
        </div>
        
    </div>
    <script src="{% static 'main/index.js' %}"></script>
</body>
</html>