<div style="display: flex; flex-direction: row; justify-content: space-between; padding-top: 20px">
    <p style="color: gray; font-size: 20px;">{{ cnt_time }}</p>
    <button class='btn-add' style="color: white; background-color: orange; border-radius: 20px; border: none; padding: 10px 20px; font-size: 18px;">+ Add task</button>
</div>
<div style="height: 2px; background-color: gray; margin-top: 20px; margin-bottom: 10px;"></div>
<div style="display: flex; gap: 10px; padding-left: 20px; padding-top: 18px;">
    <a href="?filter=pending"><button class="btn-section">Pending</button></a>
    <a href="?filter=completed"><button class="btn-section">Completed</button></a>
   <a href="?filter=all"><button class="btn-section">All</button></a>
</div>
<div style="height: 2px; background-color: gray; margin-top: 20px; margin-bottom: 10px;"></div>
