html, body {
    height: 100%;
    margin: 0;
}

.container {
    display: flex;
    min-height: 100vh;
}

.left-side {
    background-color: rgb(68, 67, 67);;
    flex: 1; 
}

.right-side {
    background-color:  #1e1e1c;
    flex: 3; 
}

.nav-lists {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.nav-lists button {
    font-size: 20px;
    color: white;
    border-radius: 20px;
    border: 1px solid rgb(101, 101, 101, 0.9);
    background: transparent;
    margin-left: 20px;
    margin-right: 20px;
}
.tasks-completed {
    border: none;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #1e1e1c;
    border-radius: 15px;
    padding-top: 7px;
    padding-left: 10px;
    padding-bottom: 7px;
    margin-bottom: 30px;
}
button {
    cursor: pointer;
}
.hidden-add-task {
    display: none;
}
.work-add-task {
    position: fixed;
    top: 18%;
    left: 68%;
    transform: translate(-50%, -50%);
}
#final-add-btn {
    padding: 10px 20px; 
    border-radius: 15px; 
    border: none; 
    background-color: rgb(94, 94, 197);
}
#final-add-btn:hover {
    background-color: rgb(63, 49, 126);
}

.subtext:hover {
    background-color: #1e1e1c;
}
#container-of-todos {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.btn-section {
    color: white; background-color:transparent ; border: 1px solid gray; padding: 10px 20px; font-size: 18px;border-radius: 15px;
}
.btn-section:hover {
    background-color: rgb(63, 49, 126);
}
.btn-delete {
    color: white;
    background-color: rgb(18, 183, 192);
    padding: 10px 20px;
    border-radius: 15px;;
    border: none;
    font-size: 18px;
    margin-top: 10px;
}
.section-of-buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#task-counter {
    color: white; font-size: 45px; margin: 0; margin-left: 5px;
}