{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Title</title>

    <link rel="stylesheet" href="{% static 'main/css_files/template.css' %}" />
  </head>
  <body>
    <div class="header">
      <div class="left-header">
        <p class="title">Dashboard</p>
      </div>

      <div class="right-header">
        <div class="btn-plus">+</div>
        <form method="POST" class="btn-clean-container">
          {% csrf_token %}
          <button class="btn-clean" name='action' value="clean-btn">Clean my repositories</button>
        </form>
      </div>
    </div>
    <div class="line-divider"></div>

    <div class="main-content">
      <div class="repository-content">
        {% block content_repository %}
      <p style='font-size: 20px;'>List of repositories:</p>
      {% for repo in repos %}
       <p style="margin-top: 10px;"><a style='text-decoration: none; color: white' href="{% url 'repo_detail' repo.pk %}"><strong>Title:</strong> {{ repo.title }}</a></p>
<p style="margin-bottom: 10px;"><a style='text-decoration: none; color: white;' href="{% url 'repo_detail' repo.pk %}"><strong>Description:</strong> {{ repo.description }}</a></p>
        <div class="line-divider"></div>
    {% endfor %}
{% endblock content_repository %}
      </div>
      <div class="content">{% block content %} {% endblock content %}</div>
    </div>

    <script src="{% static 'main/js_files/index.js' %}"></script>
  </body>
</html>
